# ---------- Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# ---------- Environnements virtuels
.venv/
venv/
env/

# ---------- Éditeurs et systèmes
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db